*{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.header{
    display: flex;
    width: 100%;
    gap: 20px;
}
.hijo1{
    width: 70%;
}
.hijo1 img{
    width: 100%;
}
.hijo2{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hijo4{
    display: flex;
    align-items: center;
    color: rgb(137, 131, 131);
    font-weight: 200;
}
.block1{
    font-size: 40px;
}
.block2{
    color: rgb(137, 131, 131);
    font-weight: 200;
}
ul{
    display: flex;
    width: 100%;
    gap: 50px;
    border-bottom: 1px solid rgb(235, 229, 229); 
}
li{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px 0;
}
/*apartado*/
.main{
    
}
.article{
    display: flex;
    margin-bottom: 30px;
}
.news{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*apartado*/
.footer{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(235, 229, 229);
}
/*apartado*/
.doc{
    display: flex;
    gap: 30px;
}

